.window.form{
    display: flex;
    flex-direction: column;
    height: 100vh;
    border: none; 
}

.info{
    padding: 0px;  
    display: flex;
    align-items: center;
    background-color: #2D2D2D;
    color: #fff;
}

  
/* Общие стили для margin справа */
.margin-right-15 {
  margin-right: 15px;
}

.margin-right-5 {
  margin-right: 5px;
}

/* Общие стили для label */
.label {
  margin-right: 5px;
}

/* Стили для select и input */
.select-input {
  background-color: #3C3C3C;
  color: #fff;
  border: 1px solid #555;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
}


.text-input {
  background-color: #3C3C3C;
  color: #fff;
  border: 1px solid #555;
  border-radius: 4px;
  font-size: 28px;
  width: 93%;
}

/* Стили для полного заполнения ширины */
.full-width {
  width: 100%;
}

/* Стили для flex-grow */
.flex-grow {
  flex-grow: 1;
}
