/* Header.css */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #2D2D2D;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-image {
    height: 40px;
    margin-right: 10px;
}
.logo-text {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
}

.login-button {
    background-color: #3C3C3C;
    color: #fff;
    border: 1px solid #555;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 16px;
}
