.window.form{
    display: flex;
    flex-direction: column;
    height: 100vh;
    border: none; 
}

.info{
    display: flex;
    align-items: center;
    background-color: #2D2D2D;
    color: #fff;
}

.select-input{
  background-color: #3C3C3C;
  color: #fff;
  border: 1px solid #555;
  border-radius: 4px;
  padding: 5px;
  width: 90%;
}